html { 
    scroll-behavior: smooth; 
   /* background-color: #e4e4e4; */
}

body {
    margin: 0;
    font-family: Work Sans, sans-serif;
}

h1, h2, h3 {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #2F4858;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }

p {
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}


/* Navigācija */

.nav {
    top: 0;
    width: 100%;
    background-color: #fddfbd;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 12%;
    max-width: 370px;
    min-width: 90px;
    margin-left: 2%;
    margin-top: 1%;
}

 .nav ul {
    float: right;
    margin-top: 8%;
    width: 55%;
}

.nav li {
    float: left;
    margin-left: 4%;
    font-weight: 500;
}

.nav a {
    position: relative;
    font-family: Rubik, sans-serif; 
    font-size: 18px;
    text-decoration: none;
    color: #060606;
}

.nav li :hover { 
    font-weight: bold; 
}

#checked {
    font-weight: bold;
    border-bottom: #9a031e solid 3px;
} 


/* pogas */


/*Footer*/

footer {
    background-color: #fddfbd;
}