.banka-title {
    margin-top: 15%;
    text-align: center;
    position: relative;
}

@media (max-width: 900px) {
    .banka-title { margin-top: 22%; }
}

/* Video */

.sapnu-vid {
    margin-top: 4.6%;
    position: relative;
    width: 100%;
}

@media (max-width: 900px) {
    .sapnu-vid { 
        margin-top: 6.45%; 
        margin-bottom: 19%;
    }
}


#thumbnail { width: 100%; }

#play {
    left: 0;
    top: 0.6%;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 9.2%;
}

@media (max-width: 900px) {
    .sapnu-vid { margin-top: 9.45%; }

    #play { width: 16.1%; }
}

@media (max-width: 660px) {
    .sapnu-vid { margin-top: 15.6%; }

    #play { width: 23.1%; }
}

/* Mērķi */

.sec-title {
    margin-top: 10.9%;
    text-align: center;
}

@media (max-width: 900px) {
    .sec-title { margin-top: 19.2%; }
}

.inner-merki {
    position: relative;
    margin-top: 7.5%;
    overflow: hidden;
}

.merki-text {
    width: 36.604%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2F4858;
    text-align: left;
}

@media (max-width: 900px) {
    .merki-text { width: 45.604%; }
}


#sun-icon {
    float: left;
    margin-left: 28%;
    margin-top: -1%;
}

@media (max-width: 900px) {
    #sun-icon {
        margin-left: 14.6%;
        margin-top: 4%;
    }
}

#sun-text {
    float: right;
    margin-right: 20%;
}

@media (max-width: 900px) {
    #sun-text {
        margin-right: 11%;
        margin-top: 5.3%;
    }
}

#kalni-icon {
    float: right;
    margin-right: 35.5%;
}

@media (max-width: 900px) {
    #kalni-icon {
        margin-top: 3%;
        margin-right: 16%;
    }
}

#kalni-text {
    float: left;
    text-align: right;
    margin-left: 11.9%;
    margin-top: 1.6%;
}

@media (max-width: 900px) {
    #kalni-text {
        margin-left: 10.7%;
        margin-top: 4.6%;
    }
}

#brilles-icon {
    float: left;
    margin-left: 27.8%;
    margin-top: 0.8%;
}

@media (max-width: 900px) {
    #brilles-icon {
        margin-left: 15.3%;
        margin-top: 3.3%;
    }
}

#brilles-text {
    float: right;
    margin-top: 2.77%;
    margin-right: 20%;
}

@media (max-width: 900px) {
    #brilles-icon {
        margin-top: 5.77%;
        margin-right: 11%;
    }
}

/* Misija */

.misija-apraksts {   
    margin-top: 3.7%;
    margin-bottom: 11%;
    margin-left: -0.3%;
    text-align: center;
    letter-spacing: 0.15px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

/* Dzeltenais bloks */

.yellow-pamats {
    z-index: -1;
    width: 100%;
}

.white-icon {
    position: absolute;
    margin-left: -63.5%;
    margin-top: 5.7%;
}

.white-text {
    position: absolute;
    margin-top: -8.2%;
    margin-left: 18.5%;
    width: 63%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

/* sapņņu atlase */

.atlase {
    margin-top: 14.7%;
    position: relative;
}

.inner-atlase {
    overflow: hidden;
    text-align: center;
}

.loudspeaker {
    float: left;
    width: 21.011%;
    margin-left: 20.1%;
    margin-top: 2.6%;
}

.people {
    float: right;
    width: 21.011%;
    margin-right: 20.2%;
    margin-top: 4.8%;
    margin-bottom: 9.9%;
}

.atlase-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2F4858;
}

#vara-desc {
    margin-top: -8.5%;
    margin-left: 14%;
    width: 72%;
}

#varaviksne { margin-left: -66%; }

/*  piepildīt sapni */

.sapni {
    margin-top: 12.8%;
    padding-bottom: 22%;
    width: 100%;
}

.sapnotajiem {
    left: 8%;
    float: left;
    position: relative;
    width: 44.95%;
    text-align: center;
}

.uznemejiem {
    right: 6.2%;
    position: relative;
    width: 48.9%;
    float: right;
    text-align: center;
}

@media (max-width: 900px) {
    .sapni { margin-top: 57%; }

    .sapnotajiem { left: 3%; }

    .uznemejiem {
        right: 3%;
        width: 44.95%;
    }
}

@media (max-width: 660px) {
    .sapni { margin-top: 164.4%; }

    .sapnotajiem {
        left: unset;
        transform: translatex(6%);
        margin-bottom: 25%;
        width: 90%;
        float: none;
    }

    .uznemejiem {
        right: unset;
        transform: translatex(6%);
        width: 90%;
        float: none;
    }
} 
