/* Virsraksts un apraksts */

.apraksts {
    margin-top: 24.6%;
    margin-bottom: 11%;
    text-align: center;
    margin-left: 2.7%;
}

.main-title {
    margin-left: -2.7%;
    position: relative;
    margin-top: -9.9%;
}

.apraksts-text {
    left: 26.2%;
    position: relative;
    margin-top: 4.5%;
    width: 44.9%;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.ideja-bilde-container {
    position: relative;
    text-align: center;
}

.juris {
    z-index: -1;
    width: 100%;
}

.imgtext {
    position: absolute;
    transform: translatey(-205%);
    max-width: 818px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;
}

.ideja-mala1 {
    position: absolute;
    width: 100%;
}

.ideja-mala2 {
    position: absolute;
    left: 0;
    margin-top: 47.8%;
    width: 100%;
}

.comments {
    margin-top: 10.5%;
    margin-bottom: 10.6%;
    position: relative;
    text-align: left;
    margin-left: 27.9%;
    width: 44.071%;
    color: #2F4858;
}

.profession {
    margin-top: -3%;
    margin-bottom: 6%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

}

.said-comment {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .14px;
}

.small-pogas {
    margin-top: 1%;
    margin-right: 7%;
}
