/* Apraksts/ievads */

.piesaki-ievads {
    margin-top: 15%;
    text-align: center;
}

.piesaki-apraksts {
    font-size: 24px;
    margin-top: 4.4%;
    letter-spacing: 0.15px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

/* Piesaki sapni */

.pieteikt-sapni {
    margin-top: 6.7%;
    width: 100%;
    margin-bottom: 12%;
}

.personigs-sapnis {
    float: left;
    left: 11.2%;
    position: relative;
    width: 31.147%;
    text-align: center;
}

.profesionals-sapnis {
    right: 10.8%;
    float: right;
    position: relative;
    width: 31.147%;
    text-align: center;    
}

.dream-icon {

}

.sapnu-titles {
    margin-top: 12%;
}

/* #pro-sapnis {
    margin-right: 2%;
    margin-top: 11.7%;
}

 #person-apraksts {
    margin-left: 3%;
}

#pro-apraksts {
    margin-left: 3%;
} */

.sapnu-apraksti {
    margin-top: -1%;
    width: 93%;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: #2F4858;
}

/* Attēli */

.atteli {
    position: relative;
    width: 100%;
}

.p-mala-top {
    top: -2px;
    position: absolute;
    width: 100%;
    left: 0;
}

.p-mala-low {
    margin-top: 24.9%;
    position: absolute;
    width: 100%;
    left: 0;
}

.container-lauma {
    position: absolute;
    width: 21.83%;
    z-index: -1;
}

.collumn2 {
    left: 21.7%;
    position: absolute;
    width: 21.82%;
    z-index: -1;
}

#arta { margin-top: -2%; }

.container-lauma2 {
    right: 34.4%;
    position: absolute;
    z-index: -1;
}

.container-meita {
    position: absolute;
    right: 0;
    z-index: -1;
}
